body{
    background-color: #6495ED;
    width: 100%;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1{
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-top: 32px;
}

.login{
    background-color: #444EF2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    border-radius: 5px;
    margin-top: 150px;
    box-shadow: 0px 0px 11px 2px rgba(71,69,69,0.75);
    -webkit-box-shadow: 0px 0px 11px 2px rgba(71,69,69,0.75);
    -moz-box-shadow: 0px 0px 11px 2px rgba(71,69,69,0.75);
}

.form_Login{
    display: flex;
    flex-direction: column;
    gap: 19px;
    margin: 15px;
}

input{
    width: 246px;
    height: 42px;
    padding-left:12px ;
    border-radius: 4px;
    border: none;
    background-color: #F3F3F3;
}

p{
    color: white;
}

a{
    color: lightblue;
    text-decoration: none;
}

a:hover{
    color: purple;
    text-decoration: underline;
}


.btn__Login{
    margin-top: 19px;
    width: 132px;
    height: 42px;
    border: none;
    border-radius: 5px;
    background-color:#EDBC64;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.btn__Login:hover{
    cursor: pointer;
    color: lightseagreen;
    background-color: #F09300;
}











